* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Inconsolata', monospace;
  background-color: #EEEEEE;
}

.navBar{
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #00B8D4;
  overflow: auto;
  z-index: 999;
}

.navTitle{
  position: absolute;
  font-size: 20px;
  top: 18px;
  left: 20px;
  color: white;
}

.sideBar, .contactsList{
  font-family: 'Inconsolata', monospace;
  overflow: auto;
  display: inline-block;
  float: left;
  position: relative;
  top: 60px;
  height: 500px;
}

.sideBar{
    max-width: 250px;
    border-right: 1px solid #BDBDBD;
}

.sideMenu{
  list-style: none;
  padding-top: 20px;
}

.contactsList{
  width: 1000px;
  padding: 10px;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.AddContactButton{
  position: fixed;
  bottom: 40px;
  right: 100px;
}
